<a href="https://colab.research.google.com/github/shafay07/KAP-towards-COVID-19/blob/master/KAP_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A quick Python interactive notebook to calculate how indivisuals performed on a survey quiz regarding COVID-19.

In [0]:
import pandas as pd
import statistics

In [0]:
# loads at runtime
dataset = pd.read_csv('KAP_clean.csv')

In [21]:
dataset.head()

   Gender  ...                         i6
0  Female  ...                         No
1    Male  ...                         No
2    Male  ...                         No
3  Female  ...  I am not experiencing any
4  Female  ...                         No

[5 rows x 35 columns]

In [0]:
knowledge = dataset[['k1','k2','k3','k4','k5','k6','k7','k8','k9','k10','k11','k12','k13','k14']]

In [0]:
knowledge_score_list = []
for k in range(len(knowledge)):
  knowledge_score = 0
  if knowledge['k1'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k2'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k3'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k4'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k5'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k6'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k7'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k8'][k] == 'TRUE':
    knowledge_score+=1  
  if knowledge['k9'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k10'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k11'][k] == 'Yes':
    knowledge_score+=1
  if knowledge['k12'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k13'][k] == 'TRUE':
    knowledge_score+=1
  if knowledge['k14'][k] == 'FALSE':
    knowledge_score+=1
  knowledge_score_list.append(knowledge_score)

In [59]:
# get the mean results for each parameter
statistics.mean(knowledge_score_list)

12.528409090909092

In [0]:
# convert to dataframe
knowledge_socre_df = pd.DataFrame({'knowledge_score':knowledge_score_list })

In [65]:
knowledge_socre_df

     knowledge_score
0                 12
1                 13
2                 10
3                 13
4                 13
..               ...
523               13
524               13
525               13
526               14
527               14

[528 rows x 1 columns]

In [0]:
# saves at runtime
knowledge_socre_df.to_csv('score.csv')